<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Classify Rat Images 🐭</div>
    <p>
      Increasing biodiversity decreases the risk of having one species overwhelming others. This is one of the cornerstones of permaculture-related practises. 
      Identifying a specie and its behaviour is central in order to respect biodiversity and revert out-of-control proliferation of some species. 
      It is interesting to identify different species of rodents, more specifically rats, to eliminate the fears and preconceived ideas about this animals...
      Use images of <strong>city</strong> rats, <strong>water</strong> rats (Coypu), <strong>farm</strong> rats (taupier), or
      all three!
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
